*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body e sfondo in overlay */
body{
    background-color: #dadbd4;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    /* position: relative; */
}
#background-head-overlay{
    background-color: #019588;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
/* container struttura */
#container-app{
    height: 90vh;
    width: 90vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
#container-left{
    width: 30%;
    min-width: 285px;
    border-right: 1px solid #d6d6d6;
    display: flex;
    flex-direction: column;
}
#container-left>div:first-child{
    background-color: #fafafa;
}

#container-right{
    width: 70%;
    /* debug */
    background-color: #e5ddd5;
}
/* classi per head  */
div.head-chat, footer{
    height: 50px;
    background-color: #eaeaea;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.head-chat>div i{
    display: inline-block;
    color: #d6d6d6;
    margin: 0 .1rem;
    cursor: pointer;
}
div.head-chat h3{
    display: inline-block;
}
div.head-chat p{
    font-size: .7rem;
}
.user{
    display: flex;
    align-items: center;
}
img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: .5rem;
}
/* sezione sx */
/* #alert-msg */
#alert-msg{
    background-color: #8edafc;
    font-size: .7rem;
}
#alert-msg a{
    color: #507485;
}
#alert-msg>span{
    background-color: #f2fbfe;
    color: #8edafc;
    padding: .5rem;
    border-radius: 50%;
    margin-right: .5rem;
}

.row, #alert-msg{
    padding: .2rem 1rem;
    display: flex;
    align-items: center;
    min-height: 3rem;
}
.row p{
    color: #b5b9bb;
    max-width: 6rem;
    max-height: 2rem;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.row>span{
    color: #b5b9bb;
    font-size: .6rem;
    align-self: flex-start;
    padding-top: .4rem;
}
.row>div{
    font-size: .7rem;
    flex-grow: 2;
}
.row.active{
    background-color: #e9ebeb;
}
.row:hover:not(.row.active){
    background-color: #e9ebeb;
}
/* tag input */
#container-left input{
    margin: 5px 0;
    width: 100%;
    padding: 4px;
}
#search{
    width: 95%;
    margin: 0 auto;
}

/* container chat */
#container-chat{
    flex-grow: 2;
    background-color: #fafafa;
    overflow-y: scroll;
}

/* sezione Destra */
footer>div:nth-child(2){
    flex-grow: 2;
}
footer a{
    color: #6a7376;
    cursor: pointer;
}
footer i{
    margin: 0 1rem;
}
footer input{
    width: 100%;
    padding: 5px;
}
.disable{
    pointer-events: none;
}

main{
    height: calc(100% - 100px);
    padding: 1rem 0;
    overflow-y: scroll;
}
.msg{
    display: flex;
    margin: .4rem 3rem;
}
.msg.sent{
    justify-content: flex-end;
}
.msg.received{
    justify-content: flex-start;
}
main .msg .msg-sent, main .msg .msg-received{
    padding: .5rem 1rem;
    flex-basis: auto;
    border-radius: 5px;
}
main .msg .msg-sent{
    background-color: #d5f9ba;
}
main .msg .msg-received{
    background-color: #fff;
}

main .msg .msg-sent h5, main .msg .msg-received h5{
    font-size: 1rem; 
}
main .msg .msg-sent h5{
    padding-right: 3rem;
}
main .msg .msg-received span{
    padding-left: 3rem;
}
main .msg .msg-sent span, main .msg .msg-received span{
    display: block;
    text-align: end;
    font-size: .6rem;
    color: #b5b9bb;
    margin: 2px 0;
}